.alert{
    height:184px;
    
    
}

.box1{
    
    background-color: rgb(255,48,25); // Old browsers
@include filter-gradient(#ff3019, #cf0404, vertical);

}

.text-typing {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s ;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }

  /*.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  }*/

  .rainbow-text {
    background-image: linear-gradient(to left, black, rgba(23, 194, 23, 0.794), rgb(7, 73, 7));   -webkit-background-clip: text;
    color: transparent;
    
  }

  #font-style{
    font-family: comic;
    font-weight:bold;

  }

.nav-item {
    font-weight:900;
    font-size:medium;

}

.contact{
    font-weight:900;
    font-size:large;

}


#brand {
    font-size:x-large;
    color: rgb(5, 5, 5);

}

header, footer.container-fluid{
    -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
   
    background-color: rgb(255,48,25); // Old browsers
@include filter-gradient(#ff3019, #cf0404, vertical);

.box2{
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

}

.card-img-top{
    
        max-width: 286px;
        min-width: 286px;
        max-height:250px;
        min-height: 250px;
}

section > p.text-center {
    font-size: x-large;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

section > h2.text-center {
    font-size: xx-large;
    font-weight: bolder;
    color:rgb(5, 5, 5);;
}

a { 
    color: inherit;
    text-decoration: none;
}

#social{
    font-size: 60px; 
    color:#f5f5f5;
    background-color: #ff3019; // Old browsers
@include filter-gradient(#ff3019, #cf0404, vertical); 
} 

#social-1{
    font-size: 60px; 
    color:#dc3545; 
}

.no-underline{
    text-decoration: none;
}

address, #tel, #email{
    font-size: 19px; 
    color:#000000;
    text-decoration: none; 
}
#annuals{
    font-size: 19px; 
    color:#183a1d;
    text-decoration: none; 
    font-weight: bolder;
}



    .circle-avatar
    {
        /*<img class="img-responsive circle-avatar" src="http://placekitten.com/g/200/200" />*/
        border-radius: 50%;
        width: 250px;
        height: auto;
        max-height: 250px;
        max-width:400px;
    }
    
    #referral{
        font-weight:900;
        font-size:x-large;


    }

    .navbar {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }

    .btn-success{
        background-color: rgb(41,154,11)!important; // Old browsers
@include filter-gradient(#299a0b, #299a0b, vertical)
    }